<p> Looking to create a group?  Start Here! Fill out the information fields below to get start. </p>
<!--<form action="/action_page.php"> to be completed later -->
<form>
  Group Name:<br>
  <input type="text" name="groupname" value="group"><br>
  Your Name:<br>
  <input type="text" name="fullname" value="name"><br><br>
  <input type="submit" value="Submit">
</form>
