<br>
<div class="container">
		<div class="card">
		  <div class="card-body">
			<form action="CreateAccount" id="tab" method="POST">
				<span class="text-danger">* are required fields</span>
				<br>
				<br>
			  <div class="form-group">
				<label>First Name <span class="text-danger">*</span></label>
				<input type="text" name="FirstName" class="form-control" placeholder="Enter First Name">
			  </div>
				<div class="form-group">
				<label>Last Name <span class="text-danger">*</span></label>
				<input type="text" name="LastName" class="form-control" placeholder="Enter Last Name">
			  </div>
			  <div class="form-group">
				<label>Mobile Number <span class="text-danger"></span></label>
				<input type="text" name="Phone" class="form-control" placeholder="Enter Mobile Number">
			  </div>
			  <div class="form-group">
				<label>Email Address <span class="text-danger">*</span></label>
				<input type="email" name="Email" class="form-control" placeholder="Enter Email Address">
			  </div>
			  <div class="form-group">
				<label>Password <span class="text-danger">*</span></label>
				<input name="Password" class="form-control" placeholder="Enter Password">
			  </div>
			  <button type="submit" class="btn btn-success btn-block">REGISTER</button>
			</form>
