<div style="height:25px"></div>
<h1 class="text-center"> Create Your Group</h2>

<div class="container">
  <form action="create" id="tab" method="POST">
        <div class="form-group">
          <label>Group Name</label>
          <input name="GroupName" type="text" class="form-control" placeholder="Group Name"></input>
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea name ="GroupDescription" class="form-control" placeholder="Provide a description of your group"></textarea>
        </div>

        <label for="sel1">Group Category (select one):</label>
        <select class="selectpicker" data-style="btn-info" name="selectpicker">
            <optgroup label="Select Table">
              <option name="option1" value="Sports">Sports</option>
              <option name="option2" value="Education">Education</option>
              <option name="option3" value="Entertainment">Entertainment</option>
              <option name="option4" value="General">General</option>
            </optgroup>
        </select>
  <br>


        <button type="submit" class="btn btn-default">Create</button>
      </form>
</div>
