<!doctype html>
<html>
<head>
	<title>Point Groups</title>
<link rel="stylesheet" href="/css/stylesheet.css" type="text/css">
</head>
<body>
	<h1>Point Groups</h1>
	<div class="container">
	  <nav class="desk">
	    <ul>
	          <li><a href="/"> Home </a></li>
	          <li><a href="/search"> Search </a></li>
	          <li><a href="/create"> Create </a></li>
	          <li><a href="/about"> About </a></li>
	          <li><a href="/contact"> Contact </a></li>
	    </ul>
	  </nav>
	</div>

	<h1>UNDER CONSTRUCTION</h1>
	{{{body}}}
</body>
</html>
