<br>
<br>
<br>
<br>
<br>
<p> We strive to make creating and organizing groups simple and easy</p>
<br>
<p> Basic members can enjoy creating groups up to 20 people in size</p>
<br>
<p>Tier 1 Members who pay $1.99 a month get access to create up to 10 groups and
   up to 500 members in each group </p>
<br>
</p>Tier 2 Members who pay $3.99 a month get access to unlimited groups and unlimited members in size. Tier 2
  members get first priority support through our customer service email</p>
