<form action="addUser" id="tab" method="POST">
  <label>User Email: </label>
  <input type="text" name="UserName" value="" class="input-xlarge">
  <label>Group Name: </label>
  <input type="text" name="GroupName" value="" class="input-xlarge">
    <button class="btn btn-primary" type="submit">Add User</button>
  </div>
</form>
