<<<<<<< HEAD
<script>
$(function() {
  // page is now ready, initialize the calendar...
  $('#calendar').fullCalendar({
    // put your options and callbacks here
  })
});
</script>
<div id='calendar'></div>
=======
<script>
$(function() {
  // page is now ready, initialize the calendar...
  $('#calendar').fullCalendar({
    // put your options and callbacks here
  })
});
</script>
<div id='calendar'></div>
>>>>>>> 076e348567f38e165f7afdeed11a6cf97c82e8e7
