<script>
$(function() {
  // page is now ready, initialize the calendar...
 */ $('#calendar').fullCalendar({
    events:[
	{
		title: 'Esports movie night',
		start: '2019-04-12T20:00:00:00',
		end: '2019-04-12T23:00:00:00'
	},
	{
		title: 'ITSO end of the semester party',
		start: '2019-04-20
  })
});/*
</script>
<div id='calendar'></div>
