<script>
$(function() {
  // page is now ready, initialize the calendar...
 $('#calendar').fullCalendar({
    /*events:[
		{
			title: 'Esports movie night',
			start: '2019-04-12T20:00:00:00.008',
			end: '2019-04-12T23:00:00:00.008'
		},
		{
			title: 'Uno Finals',
			start: '2019-04-08T21:15:00-0400',
			end: '2019-04-08T23:30:00-0400'
		}
	]*/
  })
});
</script>
<div id='calendar'></div>
