<div style="height:25px"></div>
<h1 class="text-center"> Create Your Group</h2>

<div class="container">

        <div class="form-group">
          <label>Group Name</label>
          <input type="text" class="form-control" placeholder="Group Name"></input>
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" placeholder="Provide a description of your group"></textarea>
        </div>

        <button type="submit" class="btn btn-default">Create</button>
      </form>
</div>
