
<div class="jumbotron text-center">
  <div class="container">
    <h1>Welcome To Point Groups</h1>
    <p> Helping to better connect the student body at Point Park University!</p>
    <a href="createAccount" class="btn btn-primary">Start Here</a>
  </div>
</div>

<!-- TYPOGRAPHY -->
<div class="container">
  <h1 class="page-header text-center">Hello Point Park University Students!</h1>
  <p class="lead mark">If you're looking to join a university group or creating a group for your organization please select the search tab or the create tab.</p>
  <hr>


<div class="container">
  <h1 class = "text-center"> Today's Events </h1>
  <hr>
  <table class="table">
    <thead>
      <th scope="col"> Event Date </th>
      <th score="col"> Event Name </th>
      <th score="col"> Event Description </th>
      <th score="col"> Location </th>
    </thead>
    <tbody>
      {{#each results}}
      <tr>
        <td>{{this.eventDate}}</td>
        <td>{{this.eventName}}</td>
        <td>{{this.eventDescription}}</td>
        <td>{{this.eventRoom}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

  <!-- CLEAR FLOAT -->
  <div class="clearfix"></div>

  <hr>

  <!-- BLOCKQUOTE -->
  <blockquote class="blockquote-reverse">
    <p>This site is great! It lets myself orginize things for our univserity club!</p>
     <footer>Quote by <cite title="Pat Nucci">Patrick</cite></footer>
  </blockquote>


<hr>
