
<div class="jumbotron text-center">
  <div class="container">
    <h1>Welcome To Point Groups</h1>
    <p> Helping to better connect the student body at Point Park University!</p>
    <a href="createAccount" class="btn btn-primary">Start Here</a>
  </div>
</div>

<!-- TYPOGRAPHY -->
<div class="container">
  <h1 class="page-header">Hello Point Park University Students!</h1>
  <p class="lead mark">If you're looking to join a university group or creating a group for your organization please select the search tab or the create tab.</p>
  <hr>


<div class="container">
  <p>ITSO is having a pizza party on Wednesday 17th of April in the West Penn Lobby at 5pm. </p>
  <p>The Baseball Club is hosting trials for those who want to join on September 9th at the stadium at 4pm.</p>
  <p>The Point Groups will have a meeting this Wednesday at 5pm to continue making the site work.</p>
  <!-- CLEAR FLOAT -->
  <div class="clearfix"></div>

  <hr>

  <!-- BLOCKQUOTE -->
  <blockquote class="blockquote-reverse">
    <p>This site is great! It lets myself orginize things for our univserity club!</p>
     <footer>Quote by <cite title="Pat Nucci">Patrick</cite></footer>
  </blockquote>


<hr>
